.inputNumber {
    width: 40px;
}

.cleanFilter {
    font-size: 12px;
    margin-left: 5px;
    padding: 4px;
    border-radius: 5px;
    background-color: rgba(0,0,0,0.3);
}

.cleanFilter:hover {
    background-color: rgba(0,0,0,0.2);
    cursor: pointer;
}

.cleanFilter:active {
    background-color: rgba(0,0,0,0.1);
}
