.inputNumber {
    width: 40px;
}

.inputNumber:focus {
    outline: 1px solid green;
}

.cleanFilter {
    font-size: 12px;
    margin-left: 5px;
    padding: 4px;
    border: none!important;
    border-radius: 5px;
    background-color: rgba(0,0,0,0.0);
    outline: none!important;
    color: green;
}

.cleanFilter:hover {
    background-color: rgba(0,0,0,0.1);
    cursor: pointer;
}

.cleanFilter:active {
    background-color: rgba(0,0,0,0.2);
}

.checkboxContainer {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 12px;
    font-size: inherit;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkboxContainer input {
    cursor: pointer;
    font-size: inherit;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
}
