.item {
    padding-left: 10px;
    border: 1px solid;
    border-color: green;
    background-color: rgba(255,255,255, 0.4);
}

.item:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.item:active {
    background-color: rgba(255, 255, 255, 0.1);
}

.list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
