.body {
    display: table;
}

.filter {
    display: table-cell;
    width: 20%;
    min-width: 200px;
}

.el {
    display: table-cell;
    width: 80%;
    min-width: 500px;
}

.listHeader {
    margin-bottom: 5px;
}

.listHeader p {
    display: inline-block;
    width: 60%;
    padding: 0;
    margin: 0;
    overflow-wrap: break-word;
}

.listHeaderRight {
    display: inline-block;
    min-width: 190px;
    float: right;
}
