.ordering {
    font-size: inherit;
    text-decoration: underline;
    -o-appearance: none;
    -ms-appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    padding: 0!important;
    background-color: lightpink;
    color: green;
}

.ordering option {
    color: green;
    cursor: pointer;
    user-select: none;
    background: rgba(0,0,0,0.1);
}

.ordering:active,
.ordering:focus,
.reverse:active,
.reverse:focus {
    border: none;
    outline: none!important;
}

.ordering:hover {
    cursor: pointer;
}

.reverse {
    color: green;
    font-size: inherit;
    background: none!important;
    border: none;
    padding: 0!important;
}

.reverse:hover {
    cursor: pointer;
}
