.button {
    background-image: url('/icons8-left-48.png');
    background-repeat: no-repeat;
    background-position: center;
    padding: 10px 24px;
}

.container {
    margin-left: 10px;
    margin-top: 16px;
}
