.body {
    border: 2px solid green;
    border-radius: 5px;
    background-color: lightpink;
    padding: 5px 5px 5px 5px;
    margin: 15px 10px 15px 10px;
    box-shadow: -3px 3px purple;
}

.body:hover {
    box-shadow: -2px 2px purple;
    transform: translate(-1px, 1px);
}

.children {
    margin-left: 5px;
}
